.notWorking {
  width: 100%;
  height: 100%;
  background: #ebebeb;
}

.disabled {
  width: 100%;
  height: 100%;
  background: #c0c0c0;
  color: #494949;
}

.availableBg {
  width: 100%;
  height: 100%;
  background: white;
  color: #494949;
  cursor: pointer;
}

.takenBg {
  width: 100%;
  height: 100%;
  background: #ff6700;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.selected {
  width: 100%;
  height: 100%;
  background: #3a6ea5;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.hourWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.largerText {
  font-size: larger;
}

.headerHour {
  min-width: 6rem;
  height: 3rem;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #3a6ea5;
  color: white;
  font-size: larger;
  margin-right: 1px;
}

.hour {
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  height: 6rem;
  min-width: 6rem;
}

.week {
  overflow: scroll;
  height: calc(100vh - 3rem);
}

.day {
  min-width: 6rem;
  width: 6rem;
  height: fit-content;
}

.headerDate {
  margin-left: 2rem;
  margin-right: 2rem;
}

.datePickerRoot {
  height: 3rem;
  position: sticky;
  top: 0;
}

.datePickerContent {
  background-color: #004e98;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datePickerContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  padding: 5px;
}

.defaultCursor {
  cursor: default;
}
